
.todoCounter{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; 
    color: white;
}

.todoCounter span{
    font-weight: bold;
    font-size: 35px;
    color: #f0da4fec;
}

.congrat-gif{
    width: 10vw;
    min-width: 95px;
}

.confeti{
    width: 60vw;
    height: 100%;
    min-height: 100vh;
    margin-left: 20vw;

 
}

@media (max-width: 900px) {
    .confeti{
        width: 100vw;
        margin-left: 0;
    }
    
  }

@media (max-width: 600px) {
    .todoCounter{
        font-size: 20px;
        margin-top: 20px;
        
    }
    .todoCounter span{
        font-size: 25px;
    }
    
  }
